html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--cinza-claro);
	color: var(--cinza-escuro);
}

a, p {
	font-size: var(--paragrafo-font-size);
	font-family: var(--font-family-paragrafo);
	text-align: justify;
}

h2 {
	font-size: var(--subtitulo-font-size);
	font-family: var(--font-family-titulo-secao);
	color: var(--cinza-escuro);
}

h3 {
	font-size: var(--h3-font-size);
	font-family: var(--font-family-titulo-secao);
	color: var(--cinza-escuro);
}

a:link, a:visited {
	color: var(--cinza-escuro);
}

a:hover, a.active {
	color: var(--laranja);
}

/* =========		Header		========= */
header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 0.6s;
}

header.sticky {
	background-color: var(--cinza-claro);	
}

header nav ul {
	display: flex;
	gap: 50px;
	position: relative;
}

header nav ul li {
	position: relative;
	transition: 0.6s;
}

header nav ul li a {
	transition: 0.3s;
}


/*
body {
	padding-top: 64px;
}

#solucoes {
	padding-top: 64px;
}*/

/* =========		Logo Nav Bar		========= */

.logo_nav{
	position: relative;
	align-self: start;
	align-items: center;
	font-size: var(--paragrafo-font-size);
	width: fit-content;
	transition: 0.6s;
}

.logo_nav p {
	font-family: var(--font-family-titulo-secao);
	text-align: center;
}

.logo_nav .titulo_nav {
	font-size: calc(1em + 5px);
}

.logo_nav .subtitulo_nav {
	font-size: calc(0.75em + 5px);
	color: var(--laranja);
	line-height: 12px;
}

/* =========		Logo		========= */

.logo {
	display: flex;
	flex-direction: column;
	font-size: var(--titulo-font-size);
	font-family: var(--font-family-titulo-secao);
	text-align: center;
	color: var(--cinza-escuro);
}

.logo h1 {
	font-size: 1em;
}

.logo h2 {
	font-size: 0.75em;
	color: var(--laranja);
	line-height: 12px;
}

/* =========		Hero Section		========= */

.hero_section {
	background-color: pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 93vh;
	gap: 70px;
}

.hero_section p {
	width: clamp(45ch, 50%, 75ch);
}

@media only screen and (max-width: 1000px) {
	.hero_section a {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.hero_section {
		justify-content: space-between;
		gap: 0px;
		height: fit-content;
		padding: 40px 0px 40px 0px;
	}

	.hero_section p {
		width: 80%;
		margin-top: 55px;
	}
}

/* =========		Animação do Scroll		========= */
.scroll {
	padding: 10px 20px;
}

.scroll:hover{
	animation-name: infiniteupdown;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animetion-timing-function: wave;
	translation: all .2s;
}

@keyframes infiniteupdown {

	0% {
		transform: translateY(0px);
	}
	
	50% {
		transform: translateY(40px);
	}
	
	100% {
		transform: translateY(0px);
	}
}



/* =========		Soluções		========= */
.solucoes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.solucoes h2 {
	margin: 40px;
}

.solucoes .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: clamp(250px, 70%, 1000px);
	background-color: var(--cinza-medio);
	border-radius: 30px;
}

.solucoes .descricao {
	margin: 0px 10% 40px 10%;
}

.solucoes h3, .solucoes button {
	margin-left: 10%;
}

.solucoes button {
	width: fit-content;
	height: fit-content;
	background-color: var(--laranja);
	border-radius: 10px;
	border-style: none;
	color: var(--cinza-claro);
	cursor: pointer;
	font-family: var(--font-family-paragrafo);
	font-size: clamp(1rem, 0.8vw + 1rem, 1.6rem);
	text-align: center;
	padding: 5px 10px;
	margin-bottom: 20px;
}

.solucoes button:hover, .solucoes button:focus {
	background-color: #c14400; 
}

.solucoes button a:link, .solucoes button a:visited {
	color: var(--branco);
}

.solucoes .todos_cartoes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
	gap: 40px;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.solucoes .cartao {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 322px;
	border-radius: 12px;
	gap: 20px;	
}

@media only screen and (max-width: 1300px) {
	.solucoes button {
		margin-right: 10%;
	}

	.solucoes button {
		width: auto;
		height: auto;
	}
}

.solucoes .cartao p {
	margin: 0px 10%;
}

.solucoes .cartao .imagem img {
	border-radius: 12px 12px 0px 0px;
	width: 100%;
	aspect-ratio: 4 / 3;
}

.solucoes .repositorio_completo{
	color: var(--laranja);
	font-weight: bold;
	text-decoration: underline;
}

@media only screen and (max-width: 550px) {
	.solucoes .todos_cartoes {
		width: 90%;
	}
} 

/* =========		Footer		========= */
footer {
	/* centraliza o footer na tela */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

footer .wrapper_footer {
	display: flex;
	flex-direction: column;
	width: clamp(250px, 70%, 1000px);
}

footer ul {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

footer ul li{
	display: flex; /* para o texto ficar ao lado do ícone */
	align-items: center; /* para o texto ficar na altura do ícone */
	gap: 15px;
}

footer img {
	width: var(--subtitulo-font-size);
}

#blankspace {
	height: 0vh;
}
